@model IEnumerable<EntityLayer.Concrete.Blog>

<div class="tech-btm">
    <h4>Son 5 bloq</h4>
    @foreach(var x in Model.TakeLast(5))
    {
        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="/Default/BlogDetails/@x.BlogID/">
                    <img src="@x.BlogImage" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="/Default/BlogDetails/@x.BlogID/">@x.BlogTitle </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @(((DateTime)x.BlogCreateDate).ToString("dd-MMM-yyyy"))
                    </span>
                </div>
            </div>

        </div>

    }
</div>
