@model IEnumerable<EntityLayer.Concrete.Comment>

<div class="comment-top">
	<h4>Şərhlər</h4>
	@foreach(var x in Model)
	{
		<div class="media">
			<img src="http://cdn.onlinewebfonts.com/svg/img_24787.png" style="height: 40px; width: 40px;" alt="" class="img-fluid" />
			<div class="media-body">
				<h5 class="mt-0">@x.CommentUserName</h5>
				<p>
					@x.CommenContent
				</p>
			</div>
		</div>

	}
</div>
